html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.scrollable-list {
  max-height: 200px;
  /* Adjust based on your preference */
  overflow-y: auto;
  scrollbar-width: none;
  /* Enables vertical scrolling */
  padding: 5px;
}